body {
  padding-top: 50px;
}

h1 {
  margin-top: 25px;
}

.h2 {
  display: block;
  margin-top: 24px;
  margin-bottom: 12px;
}

a.block-link {
  text-decoration: none;
  color: #333;
}

.fake-link {
  color: #428bca;
}

span.fake-link:hover {
  text-decoration: underline;
}

blockquote.linkable:hover {
  background: #E7EEFF;
  border-color: #D4D0F0;
}

.about-me {
  margin-top: 24px;
}

.brand-links a {
  font-size: 55px;
  line-height: 55px;
  text-decoration: none;
}

.signup p {
  line-height: 42px;
  margin-bottom: 0;
  white-space: nowrap;
}
