.clear {
  clear: both;
}

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 12pt;
  color: white;
  background: #444;
}

.sash {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

h1, h2, h3, a.home {
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
}

h1, #side div {
  margin-top: 25px;
}

h2 {
  font-size: 15pt;
}

a {
  color: #EF7600;
}

h2 a {
  text-decoration: none;
}

pre {
  margin: 0;
}

#wrap {
  margin: auto;
  width: 1000px;
}

#main {
  width: 650px;
  float: left;
  padding: 0 20px;
}

#side {
  width: 250px;
  float: right;
}

#side p, #side li {
  font-size: 11pt;
}

.post h1 {
  margin-bottom: 5px;
}

.post p {
  line-height: 150%;
}

.post img.left {
  display: block;
  float: left;
  margin: 20px 20px 20px 0;
}

.post img.center {
  display: block;
  margin: auto;
}

.post img.right {
  display: block;
  float: right;
  margin: 20px 0 20px 20px;
}

.post .footer {
  color: #eee;
  border-bottom: 1px solid gray;
  padding: 6px 0;
  margin-bottom: 35px;
}

.post .footer a {
  float: right;
}

a.home {
  display: block;
  padding: 4px 0 10px 55px;
  margin-bottom: 27px;
  color: #ccc;
  font-size: 9pt;
  text-decoration: none;
  background: url("/images/larrow.png") no-repeat;
}

#related h3 span {
  text-transform: uppercase;
}

#twitter_update_list {
  list-style: none;
  padding: 0;
}

#twitter_update_list li {
  padding-bottom: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid gray;
}

#twitter_update_list li a {
  display: block;
  text-decoration: none;
  text-align: right;
}

#flickr {
  margin: 20px 0;
}

#flickr .flickr_badge_image {
  float: left;
  border: 1px solid #EF7600;
  background: white;
  padding: 3px;
  margin: 0 17px 17px 0;
}

#flickr .flickr_badge_image img {
  border: 0;
}

#photos {
  width: 200px;
  margin: auto;
}