.clear, #disqus_thread {
  clear: both;
}

body, pre {
  margin: 0;
}

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 12pt;
  color: white;
  background: #4C4C4C;
}

h1, h2, h3, a.h2, a.home {
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
}

h1 {
  margin-top: 15px;
}

a.h2 {
  font-size: 16pt;
  font-weight: bold;
  display: block;
}

a {
  color: #EF7600;
}

a.h2, a.home, #twitter_update_list a {
  text-decoration: none;
}

#wrap {
  margin: auto;
  width: 970px;
}

#main {
  width: 650px;
  float: left;
  padding: 0 20px;
  background: #333;
  margin-top: 15px;
}

#side {
  width: 250px;
  float: right;
}

#side div {
  margin-top: 25px;
}

#side a.h2, #side h2 {
  font-size: 13pt;
}

#side p, #side li {
  font-size: 11pt;
}

#posts.archive .post {
  margin-top: 10px;
}

#posts.archive span {
  display: block;
  float: left;
  width: 100px;
}

.post h1 {
  margin-bottom: 5px;
}

.post p {
  line-height: 150%;
}

.post img.left {
  display: block;
  float: left;
  margin: 20px 20px 20px 0;
}

.post img.center {
  display: block;
  margin: 0 auto 20px auto;
}

.post img.right {
  display: block;
  float: right;
  margin: 20px 0 20px 20px;
}

.post .footer {
  color: #eee;
  border-bottom: 1px solid gray;
  padding: 6px 0;
  margin-bottom: 35px;
}

.post .footer a {
  float: right;
}

a.home {
  display: block;
  padding: 3px 0 10px 15px;
  margin-bottom: 28px;
  color: #ccc;
  font-size: 9pt;
}

#twitter_update_list, #bookmark_list {
  list-style: none;
  padding: 0;
}

#twitter_update_list a.source {
  display: block;
  text-align: right;
  font-size: 85%;
}

#twitter_update_list li, #bookmark_list li {
  padding-bottom: 4px;
  margin-bottom: 8px;
}

#twitter_update_list li {
  border-bottom: 1px solid gray;
}

#flickr {
  margin: 20px 0;
}

#flickr .flickr_badge_image {
  float: left;
  border: 1px solid #EF7600;
  background: white;
  padding: 3px;
  margin: 0 17px 17px 0;
  height: 75px;
  width: 75px;
}

#flickr .flickr_badge_image img {
  border: 0;
}

#photos {
  width: 200px;
  margin: auto;
}
