<div class="alert alert-info signup">
  <div class="row">
    <div class="col-lg-6">
      <p>Want to be notified about new posts? Just submit your email here!</p>
    </div>
    <div class="col-lg-6">
      <form action="http://matchaffer.us7.list-manage1.com/subscribe/post?u=b7c36a299d62d6cdde08aeb4d&amp;id=a0363185bb" method="post">
        <div class="input-group">
          <input type="email" name="EMAIL" class="form-control" placeholder="Email address">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Subscribe">
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
