<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="openid.server" href="http://openid.claimid.com/server" />
    <link rel="openid.delegate" href="http://openid.claimid.com/schapht" />

    <link rel="alternate" type="application/atom+xml" title="All Posts" href="http://feeds.feedburner.com/MatSchaffer" />
    <link rel="alternate" type="application/atom+xml" title="Tech Posts Only" href="http://feeds.feedburner.com/MatSchafferTechnology" />

    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css }}" type="text/css" />
    {% endfor %}
  </head>
  <body>
    <div id="wrap">
      <div id="main">
        {{ content }}
      </div>
      <div id="side">
        <div id="speaking">
          <a href="http://www.rubynation.org/">
            <img src="http://www.rubynation.org/images/conference/badges/2011/webBadgesSpeaker.png"/>
          </a>
        </div>
        <div id="flickr">
          <div id="photos">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=49154856%40N00"></script>
            <div class="clear"></div>
          </div>
        </div>
        <div id="about">
          <a class="h2" href="mailto:{{ site.email }}">{{ site.email }}</a>
          <p>I live and <a href="http://github.com/matschaffer">code</a> in Philadelphia, Pennsylvania. I also run <a href="http://mashion.net/" title="Mashion: Rails Help and Rescue">Mashion</a>, my own consulting company. I travel and take pictures when I can and also have family in Japan.</p>
          <p>マイホームページへよこそう！フィラデルフィアで働くウェブのプログラマです。旅行へ行って写真をとることがすきです。</p>
        </div>
        <div id="twitter">
          <a class="h2" href="http://twitter.com/matschaffer" rel="me">twitter.com/matschaffer</a>
          <ul id="twitter_update_list"><li class="loading">Loading tweets...</li></ul>
        </div>
        <div id="delicious">
          <a class="h2" href="http://del.icio.us/schapht" rel="me">del.icio.us/schapht</a>
          <ul id="bookmark_list"><li class="loading">Loading bookmarks...</li></ul>
        </div>
        <div id="archive">
          <a class="h2" href="/posts.html">all posts</a>
        </div>
        <div id="banners">
          <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/RegExp' title='JavaScript RegExp Example: Using a regular expression to change data format'><img src='http://static.jsconf.us/promotejsv.gif' height='280' width='160' alt='JavaScript RegExp Example: Using a regular expression to change data format'/></a>
        </div>
      </div>
    </div>
    
    {% include jsapi.html %}
    {% include twitter.html %}
    {% include delicious.html %}
    {% include disqus.html %}
    {% include analytics.html %}
    {% for js in page.js %}
      <script src="{{ js }}" type="text/javascript" charset="utf-8"></script>
    {% endfor %}
  </body>
</html>
