<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.readable.min.css">
    <link rel="stylesheet" href="/app/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/app/bower_components/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/app/bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
    {% include analytics.html %}
    {% include feeds.html %}
    {% include openid.html %}
    {% include favicons.html %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Mat Schaffer</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="mailto:mat@schaffer.me?subject=Contact"><i class="fa fa-envelope"></i> mat@schaffer.me</a></li>
            <li><a href="tel:+81-70-1629-9509"><i class="fa fa-phone-square"></i> +81-70-1629-9509</a></li>
            <li><a href="http://github.com/matschaffer"><i class="fa fa-github-square"></i><span class="visible-xs-inline"> github.com/matschaffer</span></a></li>
            <li><a href="http://twitter.com/matschaffer"><i class="fa fa-twitter-square"></i><span class="visible-xs-inline"> twitter.com/matschaffer</span></a></li>
            <li><a href="http://linkedin.com/in/matschaffer"><i class="fa fa-linkedin-square"></i><span class="visible-xs-inline"> linkedin.com/in/matschaffer</span></a></li>
            <li><a href="http://facebook.com/matschaffer"><i class="fa fa-facebook-square"></i><span class="visible-xs-inline"> facebook.com/matschaffer</span></a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      {{ content }}
    </div>

    <script src="/app/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/bootswatch.js"></script>
  </body>
</html>
