<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.readable.min.css">
    <link rel="stylesheet" href="/app/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/app/bower_components/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/app/bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
    {% include analytics.html %}
    {% include feeds.html %}
    {% include openid.html %}
    {% include favicons.html %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Mat Schaffer's Blog</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="http://about.me/matschaffer">About Me</a></li>
            <li><a href="/posts.html">Archives</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      {{ content }}
    </div>

    <script src="/app/bower_components/jquery/jquery.min.js"></script>
    <script src="/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/bootswatch.js"></script>
  </body>
</html>
