---
layout: default
---

<h1>{{ page.title | xml_escape }}</h1>

{{ content }}

{% include mailinglist.html %}

<div id="disqus_thread"></div>
<script type="text/javascript">
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//matschaffer.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

<noscript>
  <em>Sorry, but comments are powered by Disqus which requires JavaScript. Feel free to <a href="mailto:mat@schaffer.me">email me</a> any thoughts you may have.
</noscript>
